<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Tell Health</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  
  <body>

    <%- include('partials/header'); %>

  <div class="container">
      <div class="main-body">
            <div class="row gutters-sm">
              <div class="col-md-4 mb-3">
                <% if(allergy.id != null) { %>
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                      <img src="/public/images/allergy1.png" alt="Profile" width="150">
                      <div class="mt-3">

                        <h4> Reaction: <%= allergy.reaction[0].manifestation[0].text %>  </h4>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Patient Reference</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              <p class="p"> <%= allergy.patient.display %> </p>
                            </div>
                          </div>
                          <hr>
                      <div class="col-sm-3">
                        <h6 class="mb-0">Code</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <p class="p"> <%= allergy.substance.coding[0].code %> </p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Substance</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <p class="p"> <%= allergy.substance.text %> </p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Type</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <p class="p"> <%= allergy.type %> </p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Severity</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <p class="p"> <%= allergy.reaction[0].severity %> </p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">System</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <a class="p"> <%= allergy.substance.coding[0].system %> </a>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Date Recorded</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <p class="p"> <%= allergy.recordedDate %> </p>
                        </div>
                      </div>
                      <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Status</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <p class="p"> <%= allergy.status %> </p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Criticality</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <p class="p"> <%= allergy.criticality %> </p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
      </div>
      <%- include('partials/footer'); %>
      <% } else { %>
        No such immunization.
        <%- include('partials/footer'); %>
    <% } %>
  </body>
</html>