<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/public/style.css">
    </head>

    <body>
  
        <%- include('partials/header'); %>

          <div class="wrapper">
            <div class="information">
                <% if(conditions != null) { %>
                <% conditions.forEach(function(condition, index) { %>
                    <a href="/condition/<%- condition.resource.id %>" class="information__card">
                    <p class="is-medium"> Clinical status: <%= condition.resource.clinicalStatus %> </p>
                    <p class="is-medium"> Verification: <%= condition.resource.verificationStatus %> </p>
                    <p class="is-medium"> Condition name: <%= condition.resource.category.coding[0].display %> </p>

                    <% if(condition.resource.dateRecorded != null) { %>

                      <p class="is-medium"> Date recorded: <%= condition.resource.dateRecorded %> </p>
                    <% } else { %>
                      <p class="is-medium"> Date recorded: N/A </p>
                    <% } %>
                  </a>
                <% }) %>
                <% } else { %>
                    No conditions found.
                <% } %>
            </div>
          </div>

        <%- include('partials/footer'); %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </body>
</html>
