<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= typeof title != 'undefined' ? title: 'My conditions' %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  
  <body>
  
        <%- include('partials/header'); %>

          <div class="wrapper">
            <div class="information">
                <% if(conditions != null) { %>
                <% conditions.forEach(function(condition, index) { %>
                    <a href="/condition/<%- condition.resource.id %>" class="information__card">
                      <div class="icon">
                        <i class="i">
                        <img src="/public/images/stetoscope.png">
                      </i>
                    </div>
                    <h6> Condition name: <%= condition.resource.category.coding[0].display %> </h6>
                    <p class="p"> Clinical status: <%= condition.resource.clinicalStatus %> </p>
                    <p class="p"> Verification: <%= condition.resource.verificationStatus %> </p>


                    <% if(condition.resource.dateRecorded != null) { %>

                      <p class="p"> Date recorded: <%= condition.resource.dateRecorded %> </p>
                    <% } else { %>
                      <p class="p"> Date recorded: N/A </p>
                    <% } %>
                  </a>
                <% }) %>
                <% } else { %>
                    No conditions found.
                <% } %>
            </div>
          </div>

        <%- include('partials/footer'); %>
    </body>
</html>