<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= typeof title != 'undefined' ? title: 'My immunizations' %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  
  <body>
  
  <%- include('partials/header'); %>

    <div class="wrapper">
      <div class="information">
        
        <% if(immunizations != null) { %>
          <% immunizations.forEach(function(immunization, index) { %>
            <a href="/immunization/<%- immunization.resource.id %>" class="information__card">
              
              <div class="icon">
                <i class="i">
                <img src="/public/images/vaccine.png">
              </i>
            </div>
              <h6> Vaccine Name: <%= immunization.resource.vaccineCode.coding[0].display %> </h6>
              <p class="p"> Status: <%= immunization.resource.status %> </p>
              <p class="p"> Date: <%= immunization.resource.date %> </p>
              <p class="p"> Not given: <%= immunization.resource.wasNotGiven %> </p>
            </a>
          <% }) %>
          <% } else { %>
              No immunizations found.
          <% } %>
    </div>
  </div> 

  <%- include('partials/footer'); %>

</body> 
</html> 