<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/public/style.css">
    </head>

    <body>
  
        <%- include('partials/header'); %>

          <div class="wrapper">
            <div class="information">
                <% if(orders != null) { %>
                <% orders.forEach(function(order, index) { %>
                    <a href="/order/<%- order.resource.id %>" class="information__card">
                    <p class="is-medium"> Medication reference: <%= order.resource.medicationReference.reference %> </p>
                    <p class="is-medium"> Contains: <%= order.resource.contained[0].code.text %> </p>
                    <p class="is-medium"> Product: <%= order.resource.contained[0].product[0].form.text %> </p>
                    <p class="is-medium"> Date prescribed: <%= order.resource.dateWritten %> </p>
                  </a>
                <% }) %>
                <% } else { %>
                    No medication orders found.
                <% } %>
            </div>
          </div>

          <%- include('partials/footer'); %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </body>
</html>
